<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened="true">
      <div class="example-sidenav-content">
        <ul>
          <li>
            <a routerLink="/admin">Admin</a>
          </li>
          <li>
            <a routerLink="/whatsnew">WhatsNew</a>
          </li>
          <li>
            <a routerLink="/registration">Registration</a>
          </li>
        </ul>
      </div>
    </mat-sidenav>
   
      <mat-sidenav-content>
          <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
   
  </mat-sidenav-container>
