<!-- <div>{{title}}</div>
<top-nav></top-nav>
<side-nav></side-nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Drucare</span>
    <span class="example-spacer"></span>
    <button mat-button >Login</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button class="hamburger mat-button" (click)="toggle()" mat-button>
  <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push">
    <div class="example-sidenav-content">
      <ul>
        <li>
          <a routerLink="/whatsNew">WhatsNew</a>
        </li>
        <li>
          <a routerLink="/accntactivate">AccountActivation</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  
  
 
    <mat-sidenav-content>
        <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
 
</mat-sidenav-container>
